.input-group {
    width: 400px;
}

.container>div>div>button {
    color: black;
}


header div :nth-child(2) {
    width: 500px;
}

header div :nth-child(2)>input {
    margin-left: 20px;
}

footer {
    color: white;
}

.URGENTE {
    background-color: tomato;
    width: 400px;
    height: 150px;
}

.Diaria {
    background-color: aqua;
    width: 400px;
    height: 150px;
}

.Mensual {
    background-color: lightgreen;
    width: 400px;
    height: 150px;
}

.delete {
    background-color: red;
    width: 120px;
    height: 80px;
}