.input-group {
    width: 400px;
}

.container>div>div>button {
    color: black;
}


header div :nth-child(2) {
    width: 500px;
}

header div :nth-child(2)>input {
    margin-left: 20px;
}

footer {
    color: white;
}

.urgente {
    background-color: tomato;
}

.diario {
    background-color: aqua;
}

.mensual {
    background-color: lightgreen;
}